/* Background pattern from Toptal Subtle Patterns */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/background/dark_matter3.png);
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
#mainheader {
    background-color: #fe346e;
    /*background-image: linear-gradient(to bottom right, rgba(238, 9, 121, 0.7), rgba(255, 106, 0, 0.7)); */
    color: #303030;
    padding: 10px;
}
#mainheader h5 {
    color: rgba(48, 48, 48, 0.2) 
}
#container {
    background-color: cadetblue;
    width: 200px;
    margin: auto; 
    margin-top: 70px;
}
#screen {
    background-color: #1f1f1f;
    /* min-height: 85px; */
    border: 1px solid black;
    box-sizing: border-box;
    color: #ee0979;
    word-break: break-all;
}
#screen div {
    text-align: right;
    
}
#upperscreen {
    background-color: #2f2f2f;
    font-size: 14px;
    padding: 10px;
    min-height: 37px;
    box-sizing: border-box;
}
#mainscreen {
    box-sizing: border-box;
    padding: 0.85em;
}
#keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    width: 200px;
    height: 250px;
    background-image: linear-gradient(141deg, #ee0979,#ff6a00);
    border-left: 1px black solid;
    box-sizing: border-box;
}
#keypad > div {
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: middle;
    text-align: center;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    padding-top: 15px;
    color: black
}
#keypad > div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
#keypad > div:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.row1 {
    grid-row: 1/2;
}
.row2 {
    grid-row: 2/3;
}
.row3 {
    grid-row: 3/4;
}
.row4 {
    grid-row: 4/5;
}
.row5 {
    grid-row: 5/6;
}
